<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Educaciòn</title>
</head>
<body background="contru.jpg">

    <h3>Ejemplo de imagen de fondo</h3>

    <p>Se pueden utilizar archivos en formato jpg, gif o png. No es recomendable usar otro formato.</p>

    <p>Si la imagen es más pequeña que la página, se repetirá en mozaico.>

</body>
</html>

