{% extends "layout.html" %} <!--  -->
{% block title %}
    Error
{% endblock %}

{% block main %}
    <div class="container">
            <div class="row">

                <div class="col-lg" style="margin-top: 140px;text-align:center;">
                    <div style="margin-bottom: 20px;">
                        <img src="../static/img/error.png" class="img-fluid" width="100px"><br>
                    </div>
                    <h1>Lo sentimos! No puedes visualizar esta página</h1>
                </div>
            </div>
    </div>



{% endblock %}