{% extends "layout.html" %} <!--  -->
{% block title %}
    Servicios
{% endblock %}

{% block main %}

    <div class="row" style="margin-bottom: 20px;">
            <div class="col">
                <h3>Solicita el servicio que necesites:</h3>
            </div>
            <div class="col">
                    <a href="/listSubsectors" class="btn  btn-outline-primary">Regresar</a>
            </div>
    </div>

    {% if result|length > 0 %}
        {% for row in result %}
        <div class="card">
            <div class="card-header">
            Ubicación: {{row[4]}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{row[3]}}</h5>
                <p class="card-text">{{row[5]}}</p>
                <div style="text-align: center">
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalNotification{{row[0]}}" >
                            Solicitar servicio
                    </button>
                </div>
            </div>
        </div>
        <br>
        <!-- Modal -->
            <div class="modal fade" id="modalNotification{{row[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Solicitar {{row[3]}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <div class="form-group" style="display: none;">
                                        <input value= "{{row[0]}}" autocomplete="off" autofocus required class="form-control" name="idservice" type="text">{{row[0]}}</input>
                                    </div>
                                    <label for="msgtxtarea">Escribe tu mensaje para el dueño del negocio:</label>
                                    <textarea class="form-control" id="msgtxtarea" rows="3" name="message"></textarea>
                                </div>
                            </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary active btnSendMsg">Enviar mensaje</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="card">
        <div class="card-header">
        Servicios
        </div>
        <div class="card-body">
        <h5 class="card-title">No existen servicios</h5>
        <p class="card-text"></p>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
  <script src="../static/js/modalCustomer.js"></script>
{% endblock %}