{% extends "layout.html" %} <!--  -->
{% block title %}
    Categorías
{% endblock %}

{% block main %}
    <div style="background: url(../static/img/fondo.png); width: 100%" background="../static/img/fondo.png">
        <div style="margin-bottom: 20px; margin-top: 40px;">
            <h3>Encuentra el servicio que necesitas en alguna de nuestras categorías:</h3>
        </div>
        
        <div class="card-columns">
            {% for row in result %}
            <div class="card  text-center">
                <div class="card-header">
                Categoría {{row[0]}}
                </div>
                <div class="card-body">
                <h5 class="card-title">{{row[2]}}</h5>
                <p class="card-text"></p>
                <a href="/listServices/{{row[0]}}" class="btn btn-outline-info">Ver Servicios</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
    </div>
    
{% endblock %}
