{% extends "layout.html" %} <!--  -->
{% block title %}
    Respuestas a solicitudes
{% endblock %}

{% block main %}

    <div class="container" style="margin-bottom: 20px; margin-top: 40px;">
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-1">
                    <img src="../static/img/solicitud.png" class="img-fluid" alt="Responsive image" width="50px">
                </div>
                <div class="col-lg-4">
                    <h3>Respuestas a solicitudes:</h3>    
                </div>
            </div>
        </div>

    <ul class="nav nav-pills nav-justified" id="NotificationsTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="home" aria-selected="true">Aceptadas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="denied-tab" data-toggle="tab" href="#denied" role="tab" aria-controls="profile" aria-selected="false">Rechazadas</a>
            </li>
          </ul>
          <div class="tab-content" id="NotificationTabContent">
            <div class="tab-pane fade show active" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
                <div style="margin-top: 20px;">
                        {% if accept|length > 0 %}
                            {% for row in accept %}
                                <div class="card">
                                    <div class="card-header">
                                    Servicio solicitado: {{row[1]}}
                                    </div>
                                    <div class="card-body">
                                    <h5 class="card-title">Tu mensaje fue: {{row[3]}}</h5>
                                    <p class="card-text">Respuesta por parte del dueño del negocio: {{row[6]}}</p>
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        {% else %}
                            <div class="card">
                                <div class="card-header">
                                Lo sentimos!
                                </div>
                                <div class="card-body">
                                <h5 class="card-title">Aún no cuentas con notificaciones</h5>
                                <p class="card-text"></p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
            </div>
            <div class="tab-pane fade" id="denied" role="tabpanel" aria-labelledby="denied-tab">
                    <div style="margin-top: 20px;">
                        {% if deny|length > 0 %}
                            {% for fila in deny %}
                                <div class="card">
                                    <div class="card-header">
                                    Servicio solicitado: {{fila[1]}}
                                    </div>
                                    <div class="card-body">
                                    <h5 class="card-title">Tu mensaje fue: {{fila[3]}}</h5>
                                    <p class="card-text">Respuesta por parte del dueño del negocio: {{fila[6]}}</p>
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        {% else %}
                            <div class="card">
                                <div class="card-header">
                                Lo sentimos!
                                </div>
                                <div class="card-body">
                                <h5 class="card-title">Aún no cuentas con notificaciones</h5>
                                <p class="card-text"></p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
          </div>
{% endblock %}

