{% extends "layout.html" %} <!--  -->
{% block title %}
    Tus servicios
{% endblock %}

{% block main %}
    <div>
        <h3>Tus servicios</h3>
        <br>
    </div>
    {% if result|length > 0 %}
        {% for row in result %}
        <div class="card">
            <div class="card-header">
            Categoría: {{row[1]}}
            </div>
            <div class="card-body">
            <h5 class="card-title">{{row[2]}}</h5>
            <p class="card-text">{{row[4]}}</p>
            <a href="/notificationOwner/{{row[0]}}" class="btn btn-primary">Ver Notificaciones</a>
            </div>
        </div>
        <br>
        {% endfor %}
    {% else %}
    <div class="card">
            <div class="card-header">
            Tus servicios
            </div>
            <div class="card-body">
            <h5 class="card-title">Aún no cuentas con servicios!</h5>
            <p class="card-text">Haz clic en el botón y agrega los servicios que quieras.</p>
            <a href="/serviceRegister" class="btn btn-primary">Crear servicio</a>
            </div>
        </div>
    {% endif %}
{% endblock %}