{% extends "layout.html" %} <!-- Molde, codigo que se repite, el codigo de layout se va a integrar o utlizar aqui -->
<!-- Se integra al layout.html, GET para renderizar y POST para mandar el formulario -->
{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Register as a Customer
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <form action="/registerCustomer" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="names" placeholder="Names" type="text"/>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="surnames" placeholder="Surnames" type="text"/>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="sex" placeholder="Sex" type="text"/>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="phonenumber1" placeholder="Phone Number 1" type="text"/>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="phonenumber2" placeholder="Phone Number 2" type="text"/>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="username" placeholder="Username" type="text"/>
                </div>
                <div class="form-group">
                    <input class="form-control" required name="password" placeholder="Password" type="password"/>
                </div>
                <div class="form-group">
                    <input class="form-control" required name="confirmation" placeholder="Confirm your password" type="password"/>
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Register as a Owner Service
            </button>
          </h2>
        </div>
    
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <form action="/registerOwner" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="names" placeholder="Names" type="text"/>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="surnames" placeholder="Surnames" type="text"/>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="sex" placeholder="Sex" type="text"/>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="phonenumber1" placeholder="Phone Number 1" type="text"/>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="phonenumber2" placeholder="Phone Number 2" type="text"/>
                </div>
                <div class="form-group">
                    <input autocomplete="off" autofocus required class="form-control" name="username" placeholder="Username" type="text"/>
                </div>
                <div class="form-group">
                    <input class="form-control" required name="password" placeholder="Password" type="password"/>
                </div>
                <div class="form-group">
                    <input class="form-control" required name="confirmation" placeholder="Confirm your password" type="password"/>
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
</div>


    
{% endblock %}
